<!-- templates/profile/member.html -->

{% extends "base.html" %}

{% block content %}
<h2>Welcome member, {{ user.first_name }}!</h2>

<div class="profile-info">
  <h3>Your Personal Information:</h3>
  <p>Email: {{ user.email }}</p>
  <p>Name: {{ user.first_name }} {{ user.last_name }}</p>

  <h3>Your Health Metrics:</h3>
  <!-- Display Health Metrics if available -->
  {% if user.member.health_metrics %}
    <p>Height: {{ user.member.health_metrics.height }} cm</p>
    <p>Weight: {{ user.member.health_metrics.weight }} kg</p>
    <p>Body Fat Percentage: {{ user.member.health_metrics.bfp }}%</p>
  {% else %}
    <p>Health metrics not available.</p>
  {% endif %}
  <!-- Display Fitness Goals if available -->
  <h3>Your Fitness Goals:</h3>
  {% if user.member.fitness_goals_set.exists %}
    {% for goal in user.member.fitness_goals_set.all %}
      <div class="fitness-goal">
        <p>Exercise Type: {{ goal.exercise_type }}</p>
        <p>Duration: {{ goal.duration }} min</p>
      </div>
    {% endfor %}
  {% else %}
    <p>Fitness Goals not available.</p>
  {% endif %}
</div>

<div class="actions">
  <h3>Actions:</h3>
  <ul>
    <li><a href="{% url 'manage_profile' %}">Manage Profile</a></li>
    <li><a href="#">View Exercise History</a></li>
    <li><a href="#">Manage Schedule</a></li>
  </ul>
</div>

{% endblock %}
