<!-- templates/profile/member.html -->

{% extends "base.html" %}

{% block content %}
<h2>Welcome, {{ user.first_name }}!</h2>

<div class="profile-info">
  <h3>Your Profile:</h3>
  <p>Email: {{ user.email }}</p>
  <p>First Name: {{ user.first_name }}</p>
  <p>Last Name: {{ user.last_name }}</p>
  <!-- Display Health Metrics if available -->
  {% if user.member.health_metrics %}
    <p>Height: {{ user.member.health_metrics.height }} cm</p>
    <p>Weight: {{ user.member.health_metrics.weight }} kg</p>
    <p>Body Fat Percentage: {{ user.member.health_metrics.bfp }}%</p>
  {% else %}
      <p>Health metrics not available.</p>
  {% endif %}
</div>

<div class="actions">
  <h3>Actions:</h3>
  <ul>
    <li><a href="{% url 'manage_profile' %}">Manage Profile</a></li>
    <li><a href="#">View Exercise History</a></li>
    <li><a href="#">Manage Schedule</a></li>
  </ul>
</div>

{% endblock %}
