<!-- templates/profile/member.html -->

{% extends "base.html" %}

{% block content %}
<h2>Trainer Profile</h2>

<div class="profile-info">
  <p>Email: {{ user.email }}</p>
  <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
  <!-- Display exercise_type if available -->
  {% if user.trainer.exercise_type %}
    <p>Specialty: {{ user.trainer.exercise_type }}</p>
  {% else %}
    <p>Specialty not available.</p>
  {% endif %}
</div>

<div class="actions">
  <h3>Actions:</h3>
  <ul>
    <li><a href="{% url 'manage_schedule' %}">Manage Schedule</a></li>
    <li><a href="#">View Member Profile</a></li>
  </ul>
</div>

{% endblock %}
